body{
    background-color: rgb(230, 230, 230);
    font-family: kozuka-gothic-pr6n, sans-serif;
    font-style: normal;
    font-weight: 200;
    margin: 0;
    display: flex;
    flex-flow: column;
}

header{
    position: fixed;
    background-color: white;
    opacity: 0.9;
    height: 5vw;
    width: 100%;
    z-index: 99999;
}

.aikon{
    display: flex;
    margin-top: 1.5vw;
    margin-left: 7vw;
}

h1{
    font-family: homemade-apple-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    margin: -1vw;
    margin-left: 22vw;
}

.a1{
    display: flex;
    flex-flow: column;
    width: 3.5%;
    height: 3.5%;
}

.a1_1{
    display: flex;
    flex-flow: column;
    width: 12%;
    padding: 0.5vw 0vw 0vw 0.5vw;
}

.a1_2{
   height: 11.5%;
    width: 11.5%;
    padding: 0.5vw 0vw 0vw 0vw;
}

.a1_class{
    display: flex;
    flex-flow: row nowrap;
}

.img{
    display: flex;
    flex-flow: column;
    width: 75%;
    padding-left: 2vw;
}

.td_text{
    padding-left: 1vw;
    font-size: 1vw;
    font-weight: 400;
}

td{
    background-color: white;
    width: 21vw;
    height: 21vw;
}

table{
    border-collapse:separate;
    border-spacing:0.8vw 1.3vw;
    margin-left: 6vw;
    margin-top: 13vw;
}

/* footer{
    background-color: rgb(51, 51, 51);
    height: 2vw;
} */